<%+cbi/valueheader%>

<label class="cbi-value-title">相关信息</label>
<div class="cbi-value-field">
	<input type="button" class="cbi-button cbi-input-reload" value="使用说明" onclick="javascript:window.open('https://github.com/XiaYi1002/luci-app-a-wool','target');" />
<input type="button" class="cbi-button cbi-input-reload" value="京东链接" onclick="javascript:window.open('https://bean.m.jd.com','target');" />
<input type="button" class="cbi-button cbi-input-reload" value="Cookie获取教程" onclick="javascript:window.open('https://github.com/lxk0301/jd_scripts/blob/master/backUp/GetJdCookie.md','target');" />
<br>京东地址：bean.m.jd.com
<br>抓完cookies不要点击退出账户，会影响cookies时效性
</div>
<%+cbi/valuefooter%>
<%+cbi/valueheader%>