<%+cbi/valueheader%>

<label class="cbi-value-title">关于</label>
<div class="cbi-value-field">
	<input type="button" class="cbi-button cbi-input-reload" value="使用说明" onclick="javascript:window.open('https://github.com/XiaYi1002','target');" /><br>

</div>

<%+cbi/valuefooter%>
<%+cbi/valueheader%>

<label class="cbi-value-title">Cookie获取教程</label>
<div class="cbi-value-field">
	<input type="button" class="cbi-button cbi-input-reload" value="Cookie获取教程" onclick="javascript:window.open('https://github.com/lxk0301/jd_scripts/blob/master/backUp/GetJdCookie.md','target');" /><br>

</div>

<%+cbi/valuefooter%>
<%+cbi/valueheader%>

<label class="cbi-value-title">京东链接</label>
<div class="cbi-value-field">
	<input type="button" class="cbi-button cbi-input-reload" value="bean.m.jd.com" onclick="javascript:window.open('https://bean.m.jd.com','target');" />
</div>

<%+cbi/valuefooter%>
<%+cbi/valueheader%>
